## Acknolwedgements:

https://developers.google.com/public-data/docs/canonical/countries_csv

In [1]:
import pandas as pd

In [2]:
url = 'https://developers.google.com/public-data/docs/canonical/countries_csv'
df = pd.read_html(url)

In [3]:
len(df)

1

In [4]:
geo = df[0]

In [5]:
cols = geo.iloc[0]

In [6]:
geo.columns = cols

In [7]:
geo = geo.drop([0], axis = 0)

In [8]:
geo.set_index(geo['name'], inplace = True)

In [9]:
geo.drop('name', axis = 1, inplace = True)

In [10]:
geo.head()

0                    country   latitude   longitude
name
Andorra                   AD  42.546245    1.601554
United Arab Emirates      AE  23.424076   53.847818
Afghanistan               AF   33.93911   67.709953
Antigua and Barbuda       AG  17.060816  -61.796428
Anguilla                  AI  18.220554  -63.068615

In [11]:
geo.to_csv('worldgeodata.csv')